body{
	background: url(../images/body-bg.png) no-repeat top center; 
	  background-size: cover;

}

a{ cursor: pointer; }

.navbar{
	background-image: url(../images/header-bg1.png);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-bottom: 15px;

}
.navbar-brand , .navbar-nav , .navbar-form , .navbar-toggle { margin-top: 10px; }

.navbar-brand{ 
	font-size: 53px;
    color: #fff;
    font-weight: bold;
}

.navbar-nav{ background-color: #d5c68a; border-radius: 10px; }
.navbar-nav a{ color: black; text-transform: uppercase; font-weight: bold; }

.navbar-toggle{ background-color: white; }
.navbar-toggle .icon-bar{ background-color: black; }

.nav a{ margin: 3px; border-radius: 7px; }

.nav>li>a:focus, .nav>li>a:hover , .nav li a.active{ background-color: black; color: white; }


/* Put search icon inside input */
.add-on .input-group-btn > .btn {
	border-left-width:0;
	left:-2px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	color: black;
	font-size: 20px;
}
.add-on .form-control:focus {
	box-shadow: none;
	-webkit-box-shadow:none; 
	border-color: #cccccc; 
}
/* END */

.navbar-form input , .navbar-form button { height: 55px; }

.page-title{ text-align: center; }
.page-title h1{ font-size: 60px; font-weight: bold; color: black; }
.page-title hr{ width: 70%; border-color: black; }

.news-list h2{ font-size: 20px; font-weight: bold; margin-top: 0px; color: #7b2e00; }
.news-list img{ margin-right: 7px; }
.news-list .top p{ margin: 0; }
.news-list .top{ background-color: #d5c68a; padding: 5px 0px 5px 15px; }
.news-list .description{ 
	background-color: #fff;
	padding: 15px 15px 0px 15px;
	margin-bottom: 15px;
	height: 320px;
	overflow-y: hidden;
}
.article-box .description .title{ 
	font-size: 20px;
	font-weight: bold;
	margin-top: 0px;
	color: #7b2e00;
}

.footer-box{ 
	color: #7b2e00;
	border-radius: 10px;
	background-color: #d5c68a;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 50px;
}

.footer-box a{ color: #7b2e00; font-weight: bold; margin-left: 15px; }

/* Overwrite Bootstrap default style */
.pagination{  }

.pagination li a{ 
	background-color: white;
	border: #7b2e00 1px solid;
	padding: 10px;
	color: #7b2e00;
}
.pagination li a:hover 
	,.pagination li a:active , .pagination li a:focus 
	, .pagination li a.active
	, .pagination > .active>a{
		background-color: black;
		color: white;
		text-decoration: none;
	}


.aaaaa____aaaaaapagination a.first{ border-top-left-radius: 10px; border-bottom-left-radius:10px; }
.aaaaaaa____apagination a.last{ border-top-right-radius: 10px; border-bottom-right-radius:10px; }


.search-tooltip{ padding: 20px; background-color: white; border:2px solid black; color: black; }

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.star-rating .star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.star-rating .star.filled {
  color: #fd0;
}
.star-rating.readonly .star.filled {
  color: #666;
}

/*
.star{ font-size:18px; margin: 0 4px; cursor: pointer; }


.___rating{ unicode-bidi: bidi-override; direction: rtl; }


	.star:hover{ color: yellow; }
	.star.active{ color: yellow; }


/* https://css-tricks.com/star-ratings/ */
/* Rating star CSS */
/*

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 1.5em;
  color: black;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before,
.rating > span.active ~ span:before,
.rating > span.active:before{
   content: "\2605";
   position: absolute;
   color: white;
}






div.stars {
  width: 270px;
  display: inline-block;
  margin-top: -20px;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 20px 5px 0px 5px;
  font-size: 18px;
  color: #444;
  transition: all 0.2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); } 

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
*/

.popup-container{ 
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: 2;
    /* Use this if you want an overlay behind popup... */
    __background-color: rgba(255,255,255,0.50);
    padding-top: 5%;
}
.popup-container .bg{ 
    display: inline-block;
    padding: 6%;
    background: rgba(255,255,255,0.9);
    z-index: 2;
    border: 1px solid #666;
    /* border-radius: 18px; */
}
.popup-container .alert{ max-width: 300px; display: inline-block; }
.popup-container .alert-success{
    color: white;
    background-color: #1b8a1b;
    border: 1px solid #666;
    width: 400px;
    display: inline-block;
}
.popup-container .alert-success a{
    color: white;
    text-decoration: underline;
}